# terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# vars with secrets - never commit
*.tfvars
!*.example.tfvars
*.tfvars.json

# cli
.aws/
